*{
    margin: 0;
    padding: 0;
}

body{
	font-family: Monospace;
	background: black;
}

div[role='main']{
	width: 1200px;
	margin: 10px auto;
}

canvas{
	padding: 10px;
}

canvas:hover{
	background: #0f0f0f; 
}

/*----------------------------------------------------------------------
	DEBUG
----------------------------------------------------------------------*/

#debug{
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	padding: 5px;
	font-size: 1.2em;
	color: white;
	background: olive;
}

#debug .container{
	padding: 15px;
	background: olive;
}

#debug .container label{
	font-weight: bold;
	color: black;
}

#debug .container span{
	color: white;
	font-weight: normal;
}

#debug h3{
	color: black;
}
